body{
    user-select: none;
    width: auto;
    height: auto;
    word-wrap: break-word;
    background-color: pink;
}
canvas{
    position: absolute;
    user-select: none;
    width: auto;
    height: auto;
    border:red;    
    border-width: 1px;

}
img{
    user-select: none;
    width: auto;
    height: auto;    
    position: absolute;
    border: red;
}